<!DOCTYPE html>
<html>
<head>
  <title>Draft Quotes</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://kit.fontawesome.com/a2c9d7080d.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
  thead{
    font-weight:bold;color:white;
    background-color: #2E3690;
    padding:10px;
  }

  tr, td, th{
    padding:5px 15px 5px 15px;
  }

  .td-button a{
    background-color: white !important;
    padding:5px;
    color:#2E3690;
    float: right;
  }

  th{
    background-color: #ced2f7;
  }

  table{
    border-radius:10px;
    box-shadow: 4px 3px 23px -1px rgba(0,0,0,0.19);
    -webkit-box-shadow: 4px 3px 23px -1px rgba(0,0,0,0.19);
    -moz-box-shadow: 4px 3px 23px -1px rgba(0,0,0,0.19);
  }

</style>
</head>
<body>
    <!-- include header -->
    <%- include('include/header') %>
    <!-- /include header -->

    <div class="main-content">
      <div class="row">
        <div class="column-1" >
          <div class="vertical-menu">
            <div class="vertical-menu">
              <a href="/admin-dashboard"  >Admin Dashboard</a>
              <a href="/accepted-quotes-admin">Accepted Quotes</a>
              <a href="/freight-charges" class="active">Freight Charges</a>
              <a href="/custom-quote-requests">Custom Quote Requests</a>
            </div>
          </div>
        </div>
        <div class="column-2" >
          <h2>Freight Charges</h2>
            <% if (messages.success) { %>
                <p class="alert alert-success mt-4"><%- messages.success %></p>
            <% } %>  
            <br>
            <% if(data.length){
             
              for(var i = 0; i< data.length; i++) {
                if(data[i].shippingMethod === 'Sea Freight'){%>  
              <table style="table-layout: fixed;text-align:left;">
                
              <tr>
                <thead >
                  <tr>
                    <td colspan="3"><%= data[i].loadingPort%></td>
                    <td class="td-button">
                      <a href="/update-freight?id=<%= data[i]._id%>" class="btn update">
                        <span><i class="fas fa-pencil-alt"> Update</i></span>
                      </a>
                    </td>
                  </tr>
              </thead>
                <tbody>
                  <tr><th scope="col">Loading Port</th><td><%= data[i].loadingPort%></td><th scope="col">Origin Country</th><td><%= data[i].originCountry%></td></tr>
                  <tr><th scope="col">Shipping Method</th><td><%= data[i].shippingMethod%></td><th scope="col">Shipping Speed</th><td><%= data[i].shippingSpeed%></td></tr>
                  <tr><th scope="col">Container Type</th><td><%= data[i].containerSize%></td><th scope="col">Origin Charges</th><td><%= data[i].originCharges%></td></tr>
                  <tr><th scope="col">Port to Port Charges</th><td><%= data[i].portToPortCharges%></td><th scope="col">Handling Fees</th><td><%= data[i].handlingFees%></td></tr>
                  <tr><th scope="col">Additional Charges</th><td><%= data[i].additionalCharges%></td><th scope="col">Origin Charges</th><td><%= data[i].additionalCharges%></td></tr>
                  
                </tbody>
                
              </tr>
              
            </table>
            <br>
              <% }
            else{ %>
              <table style="table-layout: fixed;text-align:left;">
                
                <tr>
                  <thead >
                    <tr>
                      <td colspan="3"><%= data[i].loadingPort%></td>
                      <td class="td-button">
                        <a href="/update-freight?id=<%= data[i]._id%>" class="btn update">
                          <span><i class="fas fa-pencil-alt"> Update</i></span>
                        </a>
                      </td>
                    </tr>
                </thead>
                  <tbody>
                    <tr><th scope="col">Loading Port</th><td><%= data[i].loadingPort%></td><th scope="col">Origin Country</th><td><%= data[i].originCountry%></td></tr>
                    <tr><th scope="col">Shipping Method</th><td><%= data[i].shippingMethod%></td><th scope="col">Shipping Speed</th><td><%= data[i].shippingSpeed%></td></tr>
                    <tr><th scope="col">Documentation Fee</th><td><%= data[i].documentationFee%></td><th scope="col">Cartage from Origin</th><td><%= data[i].cartageFromOrigin%></td></tr>
                    <tr><th scope="col">Import Terminal Fee</th><td><%= data[i].ITF%></td><th scope="col">Airline Document Fee</th><td><%= data[i].ADF%></td></tr>
                    <tr><th scope="col">Airport Handling Fee/th><td><%= data[i].AHF%></td><th scope="col">Air Cargo Automation</th><td><%= data[i].ACA%></td></tr>
                    
                  </tbody>
                  
                </tr>
                
              </table>
              <br>
              <% }}
                       
               }%>    
              
            
        </div>
      </div>
    </div>

    
</body>
</html>