<head>
    <title>Update Quote</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://kit.fontawesome.com/a2c9d7080d.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
 <body >
    <!-- include header -->
    <%- include('include/header') %>
    <!-- /include header -->

    <div class="main-content">
        <div class="column-1" >
            <div class="vertical-menu">
                <a href="/quote-portal" >Quote Calculator</a>
                <a href="/accepted-quotes">Accepted Quotes</a>
                <a href="/drafted-quotes" class="active">Draft Quotes</a>
                <a href="/my-quote-requests">Custom Quote Requests</a>
            </div>
        </div>
        <div class="column-2" >
    
            <div class="card">
                <div class="card-body">
                   
                <div>
                    <h2 >Update Quote</h2>
                </div>
        
                        <!-- add user form -->
                        <!-- form handling -->
                <form method="POST" id="update_quote">
                        <div class="form-group2">
                            <div class="form-cell"></div>
                            <label for="createdAt" >Created At:</label>
                            <input type="text" class="form-control" name="createdAt" value="<%= quote.createdAt %>" disabled>
                        </div>
        
                        <div class="form-group2">
                            <div class="form-cell">
                                <label for="name" >Name:</label>
                                <input type="text" class="form-control" name="name" value="<%= quote.name %>" disabled>
                            </div>
                            
                        </div>
    
                        <div class="form-group2">
                            <div class="form-cell">
                                <label for="pickupcountry" >Pickup Country:</label>
                                <input type="text" class="form-control" name="pickupcountry" value="<%= quote.pickupcountry %>"disabled >
                            </div>
                            
                            <div class="form-cell">
                                <label for="pickupsuburb" >Pickup Suburb:</label>
                                <input type="text" class="form-control" name="pickupsuburb" value="<%= quote.pickupsuburb %>" disabled>
                            </div>
                        </div>
    
                        <div class="form-group2">
                            <div class="form-cell">
                                <label for="destination">Destination Country:</label>
                                <input type="text" class="form-control" name="destination" value="<%= quote.destination %>" disabled>
                            </div>
                            
                            <div class="form-cell">
                                <label for="incoterms" >Incoterms:</label>
                                <input type="text" class="form-control" name="incoterms" value="<%= quote.incoterms %>" disabled>
                            </div>

                            <div class="form-cell">
                                <label for="shippingspeed" >Shipping Speed:</label>
                                <input type="text" class="form-control" name="shippingspeed" value="<%= quote.shippingspeed %>" disabled>
                            </div>
                        </div>
                        
                        <div class="form-group2">
                            <div class="form-cell">
                                <label for="shippingmethod">Shipping Method:</label>
                                <input type="text" class="form-control" name="shippingmethod" value="<%= quote.shippingmethod %>" disabled>
                            </div>
                            
                            <div class="form-cell">
                                <label for="packaging" >Type of Packaging</label>
                                <input type="text" class="form-control" name="packaging" value="<%= quote.packaging %>" disabled>
                            </div>

                            <div class="form-cell">
                                <label for="noOfBoxes" >No. of Boxes:</label>
                                <input type="number" class="form-control" name="noOfBoxes" value="<%= quote.noOfBoxes %>" disabled>
                            </div>
                        </div>
                        
                        <div class="form-group2">
                            <div class="form-cell">
                                <label for="length">Length:</label>
                                <input type="number" class="form-control" name="length" value="<%= quote.length %>" disabled>
                            </div>
                            
                            <div class="form-cell">
                                <label for="width" >Width:</label>
                                <input type="number" class="form-control" name="width" value="<%= quote.width %>" disabled>
                            </div>

                            <div class="form-cell">
                                <label for="height" >Height:</label>
                                <input type="number" class="form-control" name="height" value="<%= quote.height %>" disabled >
                            </div>

                            <div class="form-cell">
                                <label for="weight" >Weight:</label>
                                <input type="number" class="form-control" name="weight" value="<%= quote.weight %>" disabled >
                            </div>
                        </div>

                        <div class="form-group2">
                            <label for="quoteprice">Your Quotation</label>
                            <br><span><b>USD <input type="text" style="display: inline;border:none;" id="quoteprice" name="quoteprice" value="<%= quote.quoteprice %>" disabled></b> </span>
                            
                        </div>
                        
                    <button type="submit" class="btn btn-save" formaction="/save-quote">Save to Drafts</button>
                    <button type="submit" class="btn btn-primary"  formaction="/accept-quote" >Accept Quote</button>
        
                </form>
               
            </div>
        </div>
        </div>
    </div>

    
    
</body>
